.home-container{
    min-height: 100vh;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40vh 20vh 40vh;
    grid-gap:20px;
}

@media (max-width: 767px) {
    .home-container {
      /* grid-template-columns: 1fr; 
      grid-template-rows: auto; Let the rows adjust automatically based on content */
      display: flex;
      flex-direction: column;

    }
  
    .card {
      /* grid-area: auto; Reset the grid area */
      width: 100%;

    }
  }
  